<%- include('../partials/header') %>
            <% users.forEach(function(user){ %>
            <div class="panel panel-default">
              <div class="panel-heading"><%= user.first_name %> <%= user.last_name %></div>
              <div class="panel-body">Something clever like bio type data could go here.  
                We do however have an email: <b><%= user.email %></b></div>
              <div class="panel-footer">Panel Footer</div>
              <% }); %>    
<%- include('../partials/footer') %>
